/*                                                                          ,,                    
  .g8"""bgd                           .g8""8q.                            `7MM                    
.dP'     `M                         .dP'    `YM.                            MM                    
dM'       ` ,pW"Wq.`7Mb,od8 .gP"Ya  dM'      `MM `7M'   `MF'.gP"Ya `7Mb,od8 MM   ,6"Yb.`7M'   `MF'
MM         6W'   `Wb MM' "',M'   Yb MM        MM   VA   ,V ,M'   Yb  MM' "' MM  8)   MM  VA   ,V  
MM.        8M     M8 MM    8M"""""" MM.      ,MP    VA ,V  8M""""""  MM     MM   ,pm9MM   VA ,V   
`Mb.     ,'YA.   ,A9 MM    YM.    , `Mb.    ,dP'     VVV   YM.    ,  MM     MM  8M   MM    VVV    
  `"bmmmd'  `Ybmd9'.JMML.   `Mbmmd'   `"bmmd"'        W     `Mbmmd'.JMML. .JMML.`Moo9^Yo.  ,V     
                                                                                          ,V      
                                                                                       OOb"         
	CoreOverlay ver.1.0.0
	made without blood or sweat, but a lot of tears by doq

	main-display.css - css code that handles the displayed overlay (what the stream sees)

	CoreOverlay is licensed under the terms of the MIT License; see the COPYING file for license details.
*/
body {
	position: relative; width: 2160px; margin: 0 auto; overflow: hidden; white-space: nowrap; color: #FFF;
	font-family: "Nova Square";
	font-size: 48px; line-height: 42px; text-align: left;
	text-transform: uppercase;
}

.overflow { overflow: hidden; text-overflow: ellipsis; }

.full { position: absolute; width: 2160px; height: 200px; /*background-color: magenta;*/ }
.btm { bottom: 0px; opacity: 0; }
.top { top: 0px; opacity: 1; left: 0px; }

.overlay {
    position: absolute;
    width: 1100px;
    height: 200px;
    right: 294px; /* start: 294px target 50px */
    opacity: 1;
}

.sepbar {
    position: absolute;
    width: 134px;
    height: 200px;
    right: 323px; /* target: 567px, but modifying .overlay instead */
    background-image: url('../images/sepbar.png');
}

.sepmaskt {
    position: absolute;
    width: 134px;
    height: 100px;
    right: 323px;
    top: 0px;
    background-color: #f0f;
    transition: top 500ms;
}

.sepmaskb {
    position: absolute;
    width: 134px;
    height: 100px;
    right: 323px;
    bottom: 0px;
    background-color: #f0f;
    transition: bottom 500ms;
}

.leftbar {
    position: absolute;
    width: 764px;
    height: 186px;
    left: 0px;
    top: 7px;
    background-image: url('../images/barL.png');
}

.rightbar {
    position: absolute;
    width: 412px;
    height: 84px;
    right: 7px;
    top: 58px;
    background-image: url('../images/barR.png');
}

.leftglow {
    position: absolute;
    width: 782px;
    height: 206px;
    background-image: url('../images/flashL.png');
    top: -3px;
    left: -12px;
    opacity: 1;
}

.rightglow {
    position: absolute;
    width: 423px;
    height: 96px;
    background-image: url('../images/flashR.png');
    top: 52px;
    right: -4px;
    opacity: 1;
}

.leftmask {
    position: absolute;
    width: 1557px;
    height: 200px;
    background-image: url('../images/maskL.png');
    top: 0px;
    left: -70px; /* target: -900px */
    transform: skewX(-30deg);
    opacity: 1;
}

.rightmask {
    position: absolute;
    width: 939px;
    height: 200px;
    background-image: url('../images/maskR.png');
    top: 0px;
    right: -60px; /* target: -600px */
    transform: skewX(-30deg);
    opacity: 1;
}

.namebox {
    width: 700px;
    height: 55px;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 1;
}

.bg {
    width: 667px;
    height: 100%;
    position: absolute;
    left: 15px;
}

.sbg {
    width: 524px;
    height: 100%;
    transform: skewX(-30deg);
    position: absolute;
    left: 5px;
}

.pbg {
    position: absolute;
    width: 80px;
    right: 18px;
    height: 100%;
    transform: skewX(-30deg);
}

.roundbox {
    width: 150px;
    height: 80px;
    background-repeat: no-repeat;
    position: absolute;
    top: 66px;
    right: 250px;
    opacity: 1;
}
.rtexttop {
    position: absolute;
    top: -4px;
    font-size: 36px;
    left: 35px;
}
.rtextbtm {
    position: absolute;
    top: 40px;
    font-size: 24px;
    left: 6px;
}
.p1n {
    top: 41px;
    left: 50px;
    transition: opacity 300ms;
}
.p2n {
    top: 107px;
    left: -10px;
    transition: opacity 300ms;
}
.pname {
    position: absolute;
    width: 100%;
    text-align: left;
    top: 6px;
    left: 30px;
    opacity: 0;
    transition: opacity 500ms, left 500ms;
}
.pname small {
    font-size: 32px;
}
#p2 small {
    position: relative;
    display: inline-block;
    top: -12px;
}
.scorenum {
    position: absolute;
    width: 120px;
    font-size: 120px;
    text-align: center;
    font-family: 'Squada One';
}
.p1s {
    top: 30px;
    right: 359px;
}
.p2s {
    top: 126px;
    right: 416px;
}
.pscore {
    width: 700px;
    height: 55px;
    position: absolute;
    top: 0;
    left: 0;
}

.recnum {
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    position: absolute;
    top: 6px;
    right: 135px;
    width: 10%;
}

/********************************/

.p1textcolor {
    color: #ffe6e6;
}

.p2textcolor {
    color: #e6e6ff;
}

.settextcolor {
    color: white;
}

.keycolor {
    /* modify this if you're having trouble keying out transition colours without also keying out overlay colours */
    background-color: #FF00FF00;
}

#p1b, #p2b {
    /* modify this if you're using a dark-on-light config */
    filter: brightness(2.0);
}