body {
	position: relative; width: 2160px; height: 1080px; margin: 0 auto; overflow: hidden; white-space: nowrap; color: #FFF;
	font-family: "Segoe UI"; font-weight: bold; font-style: italic;
	font-size: 64px; line-height: 42px; text-align: left;
	text-transform: uppercase;
    background-color: black;
}

.full {
    padding: 0;
    margin: 0;
    left: 0;
    position: absolute;
    width: 2160px;
    height: 1080px;
    transition: transform 300ms, left 675ms;
}

.logoimg {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.logoimg img {
    width: 100%;
    height: 100%;
}

#evtx {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%);
}

.standings {
    position: absolute;
    right: -700px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
    text-align: right;
    transition: right 1500ms;
}

.standings p {
    margin: 10px 0 0 0;
    padding: 0;
}

.standings .big {
    font-size: 44px;
}

.playerscore {
    display: inline-block;
    width: 90px;
}