/*                                                                          ,,                    
  .g8"""bgd                           .g8""8q.                            `7MM                    
.dP'     `M                         .dP'    `YM.                            MM                    
dM'       ` ,pW"Wq.`7Mb,od8 .gP"Ya  dM'      `MM `7M'   `MF'.gP"Ya `7Mb,od8 MM   ,6"Yb.`7M'   `MF'
MM         6W'   `Wb MM' "',M'   Yb MM        MM   VA   ,V ,M'   Yb  MM' "' MM  8)   MM  VA   ,V  
MM.        8M     M8 MM    8M"""""" MM.      ,MP    VA ,V  8M""""""  MM     MM   ,pm9MM   VA ,V   
`Mb.     ,'YA.   ,A9 MM    YM.    , `Mb.    ,dP'     VVV   YM.    ,  MM     MM  8M   MM    VVV    
  `"bmmmd'  `Ybmd9'.JMML.   `Mbmmd'   `"bmmd"'        W     `Mbmmd'.JMML. .JMML.`Moo9^Yo.  ,V     
                                                                                          ,V      
                                                                                       OOb"         
	CoreOverlay ver.1.0.0
	made without blood or sweat, but a lot of tears by doq

	main-display.css - css code that handles the displayed overlay (what the stream sees)

	CoreOverlay is licensed under the terms of the MIT License; see the COPYING file for license details.
*/

/*

targets:

bigbar
    |- p1c, abs, left: 145, width: 750px
    |   |- p1n, rel, left: 5px, top: 30px, width: 575px, height: 55px
    |   |- p1r, rel, right: 100px, top: 40px, width: 70px, height: 40px
    |   \- s1, rel, right: 0px; 
    |- p2c, abs, left: 895, width: 750px
    \   |- p2n, rel, left: 5px, top: 30px, width: 575px, height: 55px
        |- p2r, rel, right: 100px, top: 40px, width: 70px, height: 40px
        \- s2

        \- mm, rel, right: 50px, top: 110px, width: 300px, height: 35px
        \- gg, rel, left: 50px, top: 110px, width: 300px, height: 35px

also, player names 48, crew 32, records 36, scores 96, info 16
    
I wonder if I can position both on the same side, and then flip p1 or p2 after the fact...
probably not if I want to keep animation.

*/

body {
	position: relative; width: 2160px; margin: 0 auto; overflow: hidden; white-space: nowrap; color: #FFF;
	font-family: "MADE Outer Sans"; font-style: italic; font-weight: 900;
	font-size: 48px; line-height: 42px; text-align: left;
	text-transform: uppercase;
}

.overflow { overflow: hidden; text-overflow: ellipsis; }

.full { position: absolute; width: 2160px; height: 175px; /*background-color: #880;*/ }
.btm { bottom: 0px; opacity: 0; }
.top { top: 0px; opacity: 1; left: 0px; }

.overlay {
    position: absolute;
    width: 2160px;
    height: 200px;
    right: 0px;
    opacity: 1;
}

.nrpa { background-repeat: no-repeat; position: absolute; opacity: 1; }
.scorenum { position: absolute; }
.bigbar {
    position: absolute;
    left: calc(1645px / 2);
    top: 35px;
    width: 1645px;
    height: 50px;
    background: #000;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 1000ms, top 1000ms, width 1000ms;
}
.littlebar {
    position: absolute;
    left: 0;
    top: 35px;
    width: 145px;
    height: 50px;
    background: #000;
    opacity: 0;
    transition: opacity 1000ms, top 1000ms;
}
.p1c { position: absolute; width: 750px; left: 145px; opacity: 0; transition: opacity 1000ms;}
.p2c { position: absolute; width: 750px; left: 905px; opacity: 0; transition: opacity 1000ms;}
    .pname { margin: 7px; }
    .pname small {
        font-size: 24px;
    }
    .gtext { margin: -3px 3px 0 3px; font-style: normal; }
    .recnum { text-align: center; }
    .namebox { 
        transition: width 700ms, left 1000ms, right 1000ms, top 1000ms, filter 500ms;
        height: 55px; font-size: 36px; overflow: hidden;
    }
    .recbox { 
        transition: width 700ms, left 1000ms, right 1000ms, top 1000ms, filter 500ms, opacity 500ms;
        height: 40px; font-size: 24px; overflow: hidden; opacity: 0;
    }
    .gamebox { 
        transition: width 700ms, left 1000ms, right 1000ms, top 1000ms, filter 500ms;
        height: 35px; font-size: 16px; overflow: hidden; 
    }
    .p1nc, .p2nc { left: 5px; top: 30px; width: 575px; }
    .p1nb, .p2nb {
        position: absolute; left: 0; top: 35px; width: 750px; height: 50px; opacity: 0;
        transition: opacity 1000ms, top 1000ms; transform: skewX(-15deg); 
    }
    .p1nb { 
        background: linear-gradient(91deg, #803, #803, #803, #000, #000); }
    .p2nb { 
        background: linear-gradient(91deg, #058, #058, #058, #000, #000); }
    .p1rc, .p2rc { right: 100px; top: 40px; width: 70px; visibility: hidden; }
    .f-p1n { color: #d16; opacity: 0.90; }
    .f-p2n { color: #29d; opacity: 0.90; }
    .fl-p1n { color: #802; opacity: 0.90; }
    .fl-p2n { color: #058; opacity: 0.90; }

    .bc { position:absolute; right: 515px; top: 90px;
        background-color: #000; width: 0px; height: 16px; opacity: 1;
        transition: width 1000ms, top 1000ms, opacity 1000ms; transform: skewX(-15deg); }
    .mmc { right: 5px; bottom: -8px; }
    .ggc { right: 455px; bottom: -8px; }

.scorenum {
    width: 120px;
    font-size: 96px;
    text-align: center;
}
.p1s, .p2s {
    top: 32px;
    right: 0px;
}
#tt, #gg {
    position: relative;
}
#gg, #tt { text-align: right; opacity: 0; }
#gg, #tt {
    transition: opacity 500ms, right 500ms, color 500ms; 
}
#p2n, #p1n {
    transition: opacity 500ms, left 1000ms, color 500ms, transform 1000ms, font-size 1000ms; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
#s1, #s2 {
    transition: color 500ms; 
}
.initlines{
    transform: skewX(-15deg);
}

.initlineslines {
    transition: width 1000ms;
    position: absolute;
    left: calc((1655px / 2) + 87px);
    width: 0px;
    transform: translateX(-50%);
}

/* pfewpkjfwpoefwef */

.opener {
    position: absolute;
    top: 23px;
    left: 43%;
    transform: translateX(-50%) scale(0.8);
    opacity: 0;
    transition: transform 1500ms, opacity 1000ms;
}

.subtext {
    position: relative;
    transition: transform 1000ms;
    font-size: 84px;
    width: 0px;
    height: 65px;
    display: inline-block;
    text-align: right;
    overflow: hidden;
    transition: width 1000ms;
}

.subsubtext {
    padding: 0;
    margin: 0;
    position: absolute;
    right: 12px;
    top: 10px;
}

.coretext {
    position: relative;
    display: inline-block;
    font-size: 84px;
    top: 2px;
    height: 65px;
}