/* scratch file for colour picking do not use in overlay */

.dummy {
    color: hsl(160, 73%, 64%);
    color: hsl(145, 91%, 40%);
    color: hsl(160, 30%, 48%);
    color: hsl(152, 42%, 53%);
    color: hsl(167, 72%, 55%);
    color: hsl(162, 61%, 57%);
    color: hsl(160, 95%, 33%);
    color: hsl(150, 81%, 51%);
    color: hsl(162, 42%, 26%);
    color: hsl(147, 67%, 48%);
    color: hsl(150, 53%, 45%);
    color: hsl(145, 79%, 71%);
    color: hsl(162, 84%, 37%);
    color: hsl(155, 64%, 49%);
    color: hsl(172, 79%, 24%);
    color: hsl(180, 98%, 52%);
    color: hsl(180, 73%, 20%);
    color: hsl(152, 46%, 29%);
    color: hsl(181, 72%, 11%);
    color: hsl(177, 54%, 28%);
    color: hsl(157, 34%, 48%);
    color: hsl(150, 85%, 32%);
    color: hsl(157, 71%, 66%);
    color: hsl(146, 98%, 53%);
    color: hsl(151, 66%, 37%)
}
.dummy2{
    purple: hsl(324, 100%, 65%);
    blue: hsl(191, 78%, 67%);
}
/* 
TWO-TONE COLOUR BIAS: 
1
1
1
2
1
1
1
1
1
2
2
2
1
2
2
2
2
1
2
1
2
2
2
2
1

*/

/*
    AFMCX UNIFIED PALETTE
	var clines = [	
                    [11,31,'hsl(160, 73%, 64%)'],
					[11,26,'hsl(145, 91%, 40%)'],
					[22,25,'hsl(160, 30%, 48%)'],
					[13,29,'hsl(152, 42%, 53%)'],
					[12,25,'hsl(167, 72%, 55%)'],
					[17, 4,'hsl(162, 61%, 57%)'],
					[22, 9,'hsl(160, 95%, 33%)'],
					[14, 0,'hsl(150, 81%, 51%)'],
					[24,26,'hsl(162, 42%, 26%)'],
					[10,32,'hsl(147, 67%, 48%)'],
					[16,12,'hsl(150, 53%, 45%)'],
					[20,30,'hsl(145, 79%, 71%)'],
					[19,20,'hsl(162, 84%, 37%)'],
					[19, 7,'hsl(155, 64%, 49%)'],
					[21,29,'hsl(172, 79%, 24%)'],
					[10,28,'hsl(180, 98%, 52%)'],
					[13, 2,'hsl(180, 73%, 20%)'],
					[25,25,'hsl(152, 46%, 29%)'],
					[24,15,'hsl(181, 72%, 11%)'],
					[25,18,'hsl(177, 54%, 28%)'],
					[22,28,'hsl(157, 34%, 48%)'],
					[12, 1,'hsl(150, 85%, 32%)'],
					[25,15,'hsl(157, 71%, 66%)'],
					[10,38,'hsl(146, 98%, 53%)'],
					[15,34,'hsl(151, 66%, 37%)']
	];
*/

/*
    AFM TWO-TONE ORIGINAL PALETTE
	var clines = [	
                    [11,31,'hsl(316, 73%, 64%)'],
					[11,26,'hsl(313, 91%, 40%)'],
					[22,25,'hsl(325, 30%, 48%)'],
					[13,29,'hsl(186, 42%, 53%)'],
					[12,25,'hsl(311, 72%, 55%)'],
					[17, 4,'hsl(316, 61%, 57%)'],
					[22, 9,'hsl(329, 95%, 33%)'],
					[14, 0,'hsl(317, 81%, 51%)'],
					[24,26,'hsl(316, 42%, 26%)'],
					[10,32,'hsl(198, 67%, 48%)'],
					[16,12,'hsl(192, 53%, 45%)'],
					[20,30,'hsl(194, 79%, 71%)'],
					[19,20,'hsl(318, 84%, 37%)'],
					[19, 7,'hsl(189, 64%, 49%)'],
					[21,29,'hsl(192, 79%, 24%)'],
					[10,28,'hsl(191, 98%, 52%)'],
					[13, 2,'hsl(185, 73%, 20%)'],
					[25,25,'hsl(316, 46%, 29%)'],
					[24,15,'hsl(177, 72%, 11%)'],
					[25,18,'hsl(317, 54%, 28%)'],
					[22,28,'hsl(196, 34%, 48%)'],
					[12, 1,'hsl(196, 85%, 32%)'],
					[25,15,'hsl(200, 71%, 66%)'],
					[10,38,'hsl(202, 98%, 53%)'],
					[15,34,'hsl(314, 66%, 37%)']
	];
*/

/*
    GENERIC PLACEHOLDER
    var clines = [	
                    [11,31,#5fe69e],
                    [11,26,#43c509],
                    [22,25,#86569f],
                    [13,29,#b95585],
                    [12,25,#df38ba],
                    [17, 4,#50d5ae],
                    [22, 9,#a4041f],
                    [14, 0,#1de73e],
                    [24,26,#265e2c],
                    [10,32,#cd5628],
                    [16,12,#3bae36],
                    [20,30,#b4ef79],
                    [19,20,#200fad],
                    [19, 7,#cd2d85],
                    [21,29,#240d6f],
                    [10,28,#cefc0d],
                    [13, 2,#0e3f59],
                    [25,25,#6c6628],
                    [24,15,#081232],
                    [25,18,#6d2148],
                    [22,28,#a39051],
                    [12, 1,#98640c],
                    [25,15,#c96ce6],
                    [10,38,#12fd78],
                    [15,34,#209c60]
	];
*/